/* RESET */

:root{
    --font: 'Montserrat', sans-serif;
    /* --font-size-xs: .25rem ; */
    --font-size-sm: .75rem;
    /* --font-size-md: ; */
    /* --font-size-lg: ; */
    /* --font-size-xl: ; */
    /* --font-size-xxl: ; */
    --fw-3: 500;





    
    /* layout */
    --header-heigth: 51px;
    --search-filter-width: 19rem;
    --admin-menu: 12rem;
    --footer-heigth: 100px;


    /* colors */
    /* --bg-primary: #58c4e8; */
    /* --bg-secodary: #155779; */

    --text-primary: #fff;
    --text-secondary: #999;
    --text-light: #17c2ed;
    /* --bg-primary: #D1D1D1; */

    --icons-color: #17c2ed ;
    --bg-light: #17c2ed;
    --bg-light-op: #17c2ed3f;
    --bg-light-hover: #139dc0;
    --bg-primary: #1c4a5c;
    --bg-medium: #0f2430;
    --bg-secodary: #0e1728;
    --bg-dark: #101521;

    /* --bg-primary: #ddddda; */
    /* --bg-secodary: #c2c8c5; */
    /* --bg-primary: #94B0B7; */
    /* --bg-secodary: #7697A0; */
    /* --bg-secodary: #4A707A; */


}

html{
    box-sizing: border-box;
}

*,
*:after,
*::before{
    box-sizing: inherit;
}

html{
    font-family: var(--font);
}

body{
    margin: 0;
    position: relative;
    min-height: 100vh;
    background-color: white;
}

img{
    width: 100%;
    height: 100%;
}



/* STATIC STYLES */
/* ======================================================= 
# Header
======================================================== */
header{
    /* height: var(--header-heigth); */
    background-color: #999;
    margin-bottom: .5rem;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ======================================================= 
# Footer
======================================================== */

footer{
    background-color: rgba(0,0,0,.125);
    min-height: var(--footer-heigth);
}

