/* ========================================================
# Layout
======================================================== */

/* ======================================================= 
# Search filter
======================================================== */

/* =========================================================================
# Card
========================================================================== */

/* Grid Layout 
==============================================*/

.card-property{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    padding: .5rem;
    background-color: var(--bg-card);
    box-shadow: var(--shadow-card);
    margin-bottom: 1rem;
    border-radius: var(--border-radius-md);
    user-select:none;


}
.card-property-img{

    height: 100%;
}
.card-property-body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    gap: .5rem;
        
    overflow: hidden;
    width: 100%;
    font-size: var(--font-size-sm);

}
@media screen and (min-width: 480px){
    .card-property-body{
    }
}
@media screen and (min-width: 768px){

    .card-property-body{
        grid-template-rows: repeat(4, min-content);
        /* font-size: 100%; */

    }
}

/* Card property
==============================================*/

/* card img
================= */
.card-property-images{
    display: flex;
    overflow: hidden;
    min-height: 112px;
    max-height: 112px;
    min-width: 112px;
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-card);
}

.img-prev, 
.img-next{
    --x: 1.5rem;
    position: absolute;
    content: url('../../../assets/next.svg');
    width: var(--x);
    height: var(--x);
    border-radius: 50%;
    top: calc(50% - var(--x) / 2);
    cursor: pointer;
    z-index: 999;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ),var(--shadow-01);
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
    border-radius: 10px;

    transition: all .3s;

}
@media screen and (min-width: 768px){
    .img-prev, 
    .img-next{
        --x:  2rem;
    }
}
.img-next{
    right: 8px;

}
.img-prev{
    transform: rotate(180deg);
    left: 8px;
}
.img-prev:hover, 
.img-next:hover{
    background: rgba( 255, 255, 255, 0.4);
}
.img-prev:active, 
.img-next:active{
    background: rgba( 255, 255, 255, 0.5);
}
.card-property-img{
    position: absolute;
}

.card-property-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}
.card-property-img img.is-active{
    opacity: 1;
}


@media screen and (min-width: 768px){

    .card-property-images{
        height: 100%;
        max-height: 161.39px;
    }
}


/* card body
================= */

.card-property-body > *{
    overflow: hidden;
    color: var(--color-text);
}
.card-property-header{
    overflow: hidden;
}
.card-property-type{
    color: var(--text-placeholder);
}
.card-property-title{
    font-family: roboto;
    font-weight: 600;
    font-size: 1rem;
}
.card-property-price{
    font-family: roboto;
    font-weight: 600;
    font-size:  1.25rem;
}
.card-property-expenses{
    color: var(--text-placeholder);
}
.card-property-location{
    color: var(--text-placeholder);
    white-space: nowrap;
}

.card-property-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    gap: 1rem;    
    color: var(--text-placeholder);
    line-height: 150%;
}

.card-property-form{
    display: none;
}
.card-property-line{
    display: none;
}

@media screen and (min-width: 480px){



}
@media screen and (min-width: 768px){

    .card-property-form{
        display: block;

    }
    .card-property-line{
        display: block;
    }
 
}
